@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap");
/*|| General Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.01);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
  margin-top: 60px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  overflow: auto;
}

h1,
h2,
h3 {
  font-family: Roboto;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 3rem;
}

img {
  max-width: 100%;
}

/*|| errors */
.submit_message {
  display: none;
  max-width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.submit_message[data-state="ok"] {
  border: 1px solid rgba(0, 255, 0, 0.3);
  background-color: rgba(0, 255, 0, 0.1);
}

.submit_message .material-icons {
  cursor: pointer;
  font-size: 1.3rem;
}

/*|| Header & Footer */
.banner {
  order: 0;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
  background-color: white;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.banner a {
  text-decoration: none;
  outline: none;
}
.banner .material-icons {
  font-size: 3rem;
  margin: 0 0.5em;
  color: rgba(0, 0, 0, 0.3);
}

.banner .user_avatar {
  margin-left: auto;
  margin-right: 0.5rem;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}

.banner .material-icons:hover {
  color: black;
}

.banner .user_avatar.material-icons {
  font-size: 4rem;
}

.logout[data-show="false"] {
  display: none;
}

footer {
  order: 3;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 10px;
  background-color: transparent;
  min-height: 50px;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

footer a {
  color: rgba(0, 0, 0, 0.5);
}
footer a:hover,
footer a:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

footer .material-icons {
  font-size: 1.5rem;
  margin: 0 2px;
  vertical-align: middle;
}
#love:hover {
  color: rgba(255, 0, 0, 0.8);
}
#coffee:hover {
  color: rgb(141, 79, 8);
}

/*|| new post */
#new_post_form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

#new_post_form form {
  position: relative;
  background-color: white;
  width: 450px;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  transition: box-shadow ease-in-out 0.2s;
}

#new_post_form form > * {
  margin: 1em;
}

#new_post_form textarea {
  resize: none;
  width: 100%;
  height: 6em;
  padding: 10px;
  font-family: inherit;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

#new_post_form textarea:focus {
  border: 1px solid rgb(0, 0, 0);
  background-color: aliceblue;
}

/*|| Home Page */
.home_container {
  order: 1;
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.storyBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.image_home {
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 20px 6px rgb(0 0 0 / 10%);
}

/*|| Login form */
.home_container .form_container {
  min-width: 320px;
  min-height: 400px;
  margin: auto 1em auto 5rem;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.btn,
form input,
.form input {
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 2em;
  outline: 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.form input:focus,
.form input:hover {
  border: 2px solid rgb(0, 0, 0);
}

.btn {
  color: white;
  font-weight: bold;
  background-color: black;
  border-color: black;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: black;
  background-color: transparent;
  border-color: black;
}

.form_title {
  margin: 1em auto;
}

.form_reminder {
  font-size: 1.3rem;
  margin: 1em auto;
}

/*|| feed card */
.feed_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
}

.card_container {
  width: 100%;
  min-width: 260px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  font-size: 1.2rem;
  margin: 0.5em;
  background-color: white;
}

.card_container {
  padding: 0.5em;
}
.card_container > * {
  margin: 0.5em;
}

.feed_user_container {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.feed_user_container .user_name {
  margin: 0 1em;
}

.feed_user_container .btn_container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2ex;
  transition: all ease-in 0.2s;
}

.feed_user_container .btn_container.ok {
  background-color: rgba(0, 255, 0, 0.3);
  box-shadow: 0 0 15px 4px rgb(0 255 0 / 20%);
}

.feed_user_container .btn_container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 0 15px 4px rgb(0 0 0 / 10%); */
}

.feed_user_container .btn.material-icons {
  background-color: initial;
  border: initial;
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  margin: 0 0.2em;
  padding: 0;
}

.feed_user_container .btn.material-icons:hover {
  color: black;
}

.feed_user_container .btn.material-icons.delete:hover {
  color: rgba(255, 0, 0, 0.8);
}

.user_avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: aliceblue;
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.user_avatar:hover {
  border-color: black;
}

.feed_content_container {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow ease-in-out 0.15s;
}

.feed_content_container:hover {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.feed_content_container:active {
  transform: scale(1.05, 1.05);
  background-color: white;
}

.feed_image {
  max-width: 100%;
  border-radius: 0.5rem;
}

.feed_description_container {
  flex: 1;
  margin: 1em;
  padding: 5px;
  max-width: 100%;
  max-height: 114px;
}

.feed_description_container[contenteditable="true"] {
  background-color: aliceblue;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  overflow: auto;
}

.feed_results_container {
  margin-bottom: 2rem;
}

.feed_results_container > a {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.feed_results_container > a:hover {
  color: black;
}

.feed_actions_container {
  display: flex;
  align-items: flex-end;
}

.feed_actions_container > button {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 1em;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid;
  cursor: pointer;
}

.feed_actions_container > button::before {
  content: attr(data-num);
}

.feed_actions_container > button:not(:disabled):hover {
  color: black;
}

.feed_actions_container > button:disabled {
  cursor: not-allowed;
}

.feed_actions_container .material-icons {
  cursor: pointer;
  transition: all ease-in 0.1s;
}

.feed_actions_container .material-icons:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.feed_actions_container .material-icons:active {
  transform: scale(1.1, 1.1);
}

.likeBtn[data-filled="false"]::before {
  content: "favorite_border";
}

.likeBtn[data-filled="true"]::before {
  content: "favorite";
  color: rgba(255, 0, 0, 0.7);
}

.commentBtn::before {
  content: "comment";
}

.commentInput_container {
  display: none;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 1em;
}

.commentInput_container:focus-within,
.commentInput_container:hover {
  border: 1px solid black;
}

.comment_input {
  border: none;
  outline: none;
  width: 100%;
  margin: 0.5em;
}

.comment_submit_btn {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
}

.comment_submit_btn:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
  border-radius: 0 0.5rem 0.5rem 0;
}

/*|| likes and comments */
.hidden_container {
  display: none;
}

.hidden_container[data-show="true"] {
  display: block;
}

.likes_list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.likes_list li {
  order: 1;
}

.likes_list li.self {
  order: 0;
}

.likes_list > span {
  order: 3;
}

.comment a,
.likes_list a {
  color: rgba(0, 0, 0, 0.5);
}

a.self,
.likes_list li.self a {
  color: rgba(255, 0, 0, 0.7);
}

.comment a:hover,
.likes_list a:hover {
  color: black;
}

.likes_list li::after {
  content: ",";
  margin-right: 2px;
}

.likes_list li:last-of-type::after {
  content: "";
}

.comment {
  position: relative;
  margin: 1em 0 0 1em;
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.comment > p {
  padding-top: 0.5em;
  padding-left: 2ex;
}

.comment > span {
  position: absolute;
  right: 0.5em;
}

/*|| Profile */
.profile_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.personal_info {
  flex: 0 1 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 600px;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 1rem;
}

#new_post_form .float,
.personal_info .material-icons.float {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: -0.5em;
  margin-top: -0.5em;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 0.1em;
  border-radius: 50%;
}

.personal_info .material-icons.float {
  display: none;
}

#new_post_form .float:hover,
.personal_info .material-icons.float:hover {
  color: black;
}

/*||user info edit form */
.personal_info form {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  position: relative;
  transition: box-shadow ease-in-out 0.2s;
  background-color: white;
}

.personal_info form .hidden_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.personal_info form.float {
  z-index: 10;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 280px;
  font-size: 1.2rem;
  border-radius: 1rem;
  transition: box-shadow ease-in-out 0.2s;
}

.personal_info .form_bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

#new_post_form form:focus-within,
.personal_info form:focus-within {
  box-shadow: 5px -5px 20px 5px rgb(0 0 0 / 10%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.personal_info input {
  font-size: inherit;
  display: block;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
}

.personal_info > * {
  margin-top: 2rem;
}

.personal_info > span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.personal_info .user_avatar {
  font-size: 5rem;
  width: 6rem;
  height: 6rem;
}

.network {
  justify-content: flex-start;
}

#num_followers {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#following_title::before,
#num_followers::before {
  content: attr(data-num);
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
}

.following_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.following_container > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.following_container .btn {
  width: 12ex;
  padding: 2px;
  font-size: 1rem;
  background-color: rgba(255, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.following_container .btn[data-action="follow"] {
  background-color: rgba(0, 255, 0, 0.5);
  color: rgb(0, 0, 0);
}

.following_container button::before {
  content: attr(data-action);
}

.following_container a {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0.5em;
}
.following_container a:hover {
  color: black;
}

/* ||media queries */
@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }
  .banner {
    padding-left: 10%;
    padding-right: 10%;
  }
  .storyBoard {
    display: none;
  }

  .profile_container {
    flex-direction: column;
    align-items: center;
  }

  .feed_user_container .user_avatar {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
  }
  .feed_container {
    order: 1;
  }
  .personal_info {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
    margin: 0;
    padding: 0.5rem 3rem;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .personal_info .user_avatar {
    font-size: 2.5rem;
    width: 3rem;
    height: 3rem;
  }

  .personal_info > * {
    margin: 0 1.5rem 0 0;
  }
  .personal_info input[type="submit"] {
    margin: 0;
  }
  .personal_info > span:last-of-type {
    margin-right: auto;
  }
  .network {
    flex-direction: column;
    align-items: flex-start;
  }
  .personal_info.network > span {
    margin: 0 0 0.5em 0;
  }
  .network > ul {
    max-height: 120px;
    width: 100%;
    overflow: auto;
  }

  .network li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
  .banner {
    padding-left: 5%;
    padding-right: 5%;
  }

  #new_post_form form {
    margin: 0 1em;
    max-width: 370px;
  }

  #new_post_form input {
    font-size: 1.1rem;
  }

  .home_container .form_container {
    margin: 0 auto;
    padding: 5px;
  }

  .banner .material-icons {
    font-size: 2.25rem;
    margin: 0 0.2em;
  }

  .banner .user_avatar {
    font-size: 2.5rem;
    width: 3rem;
    height: 3rem;
  }

  .banner .material-icons.user_avatar {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
  }

  .logout {
    margin: 0;
    padding: 2px;
  }
  .personal_info > * {
    margin: 0 5px 0 0;
  }
  .personal_info > span {
    max-width: 60px;
  }
}

/* ||css loading bar animation, copied from https://codepad.co/snippet/linkedin-new-loading-bar */
.loading {
  order: 10;
  display: none;
  background-color: rgba(94, 63, 63, 0.1);
  height: 2px;
  width: 10em;
  margin: 1em;
  overflow: hidden;
  position: relative;
}

.loading_bar {
  animation: shift 2s ease-in-out infinite;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  width: 50%;
}

@keyframes shift {
  0%,
  100% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(150%);
  }
}
